# Global Population Dataset
A Global Population Snapshot: Past, Present, and Future Trends

### About Dataset
This dataset provides a comprehensive overview of global population trends, historical data, and future projections. It includes detailed information for various countries and regions, encompassing key demographic indicators such as population size, growth rates, and density.

The dataset covers a broad time span, from 1980 to 2050, allowing for analysis of long-term population dynamics. It incorporates data from reputable sources like the United Nations Population Division and World Population Review, ensuring data accuracy and reliability.

In [10]:
import pandas as pd

df = pd.read_csv("countries-table.csv")
df.head()

,place,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,unMember,netChange,growthRate,worldPercentage,density,densityMi,rank
0,356,687354000,1057920000,1243480000,1438070000,1450940000,1525140000,1679590000,India,3287590.0,2973190.0,IN,IND,True,0.4119,0.0089,0.1813,488.0078,1263.9403,1
1,156,983164000,1269580000,1351560000,1422580000,1419320000,1398150000,1260290000,China,9706961.0,9424702.9,CN,CHN,True,-0.1006,-0.0023,0.1773,150.5957,390.0429,2
2,840,229859000,281484000,311063000,343477000,345427000,355650000,380847000,United States,9372610.0,9147420.0,US,USA,True,0.0600,0.0057,0.0432,37.7622,97.8042,3
3,360,148951000,216078000,246305000,281190000,283488000,295877000,320713000,Indonesia,1904569.0,1877519.0,ID,IDN,True,0.0719,0.0082,0.0354,150.9907,391.0660,4
4,586,82291000,154879000,199239000,247504000,251269000,276883000,371864000,Pakistan,881912.0,770880.0,PK,PAK,True,0.1225,0.0152,0.0314,325.9509,844.2127,5

In [11]:
df.tail()

,place,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,unMember,netChange,growthRate,worldPercentage,density,densityMi,rank
229,500,11339,5029,4794,4420,4389,4202,3692,Montserrat,102.00,102.00,MS,MSR,False,NaN,-0.0070,NaN,43.0294,111.4462,230
230,238,2252,3097,3197,3477,3470,3422,3176,Falkland Islands,12173.00,12173.00,FK,FLK,False,NaN,-0.0020,NaN,0.2851,0.7383,231
231,772,1664,1845,1585,2397,2506,2985,3821,Tokelau,12.00,10.00,TK,TKL,False,0.0,0.0455,NaN,250.6000,649.0540,232
232,570,3533,2047,1768,1817,1819,1835,1966,Niue,261.00,261.00,NU,NIU,False,NaN,0.0011,NaN,6.9693,18.0506,233
233,336,743,691,621,496,496,528,714,Vatican City,0.44,0.44,VA,VAT,True,NaN,0.0000,NaN,1127.2727,2919.6364,234

In [12]:
df.describe()

,place,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,area,landAreaKm,netChange,growthRate,worldPercentage,density,densityMi,rank
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,229.00000,234.000000,228.000000,234.000000,234.000000,234.000000
mean,439.085470,1.899993e+07,2.636699e+07,2.999963e+07,3.457263e+07,3.487289e+07,3.661291e+07,4.129358e+07,5.814500e+05,5.571123e+05,0.00969,0.009386,0.004470,461.813224,1196.096250,117.500000
std,253.295484,8.159549e+07,1.119369e+08,1.245868e+08,1.377936e+08,1.383476e+08,1.415883e+08,1.466625e+08,1.761841e+06,1.689972e+06,0.03435,0.013580,0.017498,2051.987189,5314.646824,67.694165
min,4.000000,7.430000e+02,6.910000e+02,6.210000e+02,4.960000e+02,4.960000e+02,5.280000e+02,7.140000e+02,4.400000e-01,4.400000e-01,-0.10060,-0.050400,0.000000,0.136000,0.352400,1.000000
25%,223.000000,2.339282e+05,3.244822e+05,3.935950e+05,4.230668e+05,4.284842e+05,4.579910e+05,5.335682e+05,2.650000e+03,2.625875e+03,0.00000,0.000150,0.000100,40.205250,104.131625,59.250000
50%,439.000000,3.180005e+06,4.327230e+06,4.965225e+06,5.560175e+06,5.615065e+06,6.108260e+06,6.246300e+06,8.119950e+04,7.568925e+04,0.00080,0.008550,0.000700,99.539950,257.808450,117.500000
75%,659.750000,9.794505e+06,1.592000e+07,1.904645e+07,2.324428e+07,2.346510e+07,2.633780e+07,3.273732e+07,4.304258e+05,4.047876e+05,0.00780,0.018450,0.003100,257.361025,666.565125,175.750000
max,894.000000,9.831640e+08,1.269580e+09,1.351560e+09,1.438070e+09,1.450940e+09,1.525140e+09,1.679590e+09,1.709824e+07,1.637687e+07,0.41190,0.050700,0.181300,21892.462000,56701.476600,234.000000